body {
    background-color: #ff9999;
    margin: 0px;
    padding: 0px;
}
.heart{
    background-color: white;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 43%;
    left: 45%;
    transform: rotate(45deg);
    -webkit-animation: beat 2s infinite;
}

@-webkit-keyframes beat{
    50%{
        transform: rotate(45deg) scale(1.5);
    }
}
.heart-l,.heart-r{
    background-color: white;
    height: 40px;
    width: 70px;
    position: relative;
    border-radius: 70px 70px 0px 0px;
}
.heart-l{
    bottom: 38px;
}
.heart-r{
    bottom: 25px;
    right: 52px;
    transform: rotate(-90deg);
}
@font-face{
    src: url(fonts/yes.ttf);
    font-family: yo;
}

.message{
    color: black;
    font-family: yo;
    font-size: 45px;
    position: absolute;
    top: 66%;
    right: 40%;
}